<!--<title>Resister</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
-->
<%if(errors != "ab") { %>
  <% errors.forEach(function(error){ %>
        <div class="alert alert-danger"><%=error.msg%></div>
   <% }) ;%>
<% } %>

<%- messages('message', locals) %>

<!-- nav bar -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>

<link rel='stylesheet' href='/css/navbar.css' />


<!-- nav bar -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<%include profileNav.ejs%>
<div class="container">
    <div class="row">

        <div class="col-sm-2"></div>

        <div class="col-sm-8">

            <form method="POST" action="/users/register">

            <!-- resumt -->
                <div class="panel panel-default">
                    <div class="bs-callout bs-callout-danger">
                        <h1> Sign Up </h1>
                    </div>

                    <div class="bs-callout bs-callout-danger">
                        <div id="form-group">
                            <label>Name:</label>
                            <input class="form-control" name="name" type="text" placeholder="Kevin Savsani"/>
                        </div>
                        <div id="form-group">
                            <label>Email:</label>
                            <input class="form-control" name="email" type="text" placeholder="example@iitg.ernet.in"/>
                        </div>
                        <div id="form-group">
                            <label>Username:</label>
                            <input class="form-control" name="username" type="text" placeholder="user-name"/>
                        </div>

                </div>
                <div class="bs-callout bs-callout-danger">
                    <div id="form-group">
                        <label>Password:</label>
                        <input class="form-control" name="password" type="password" placeholder="******" minlength="6"/>
                    </div>
                    <div id="form-group">
                        <label>Confirm:</label>
                        <input class="form-control" name="password2" type="password" placeholder="******"/>
                    </div>

                    <div id="form-group">
                        <label>Sequrity Question: </label>
                        <input class="form-control" name="security" type="text" placeholder="Your Favourite 6 digit"/>
                    </div>

                </div>

                <div class="bs-callout bs-callout-danger">

                    <div id="form-group">
                        <label>FacebookID:</label>
                        <input class="form-control" name="facebookID" type="number" placeholder="100005813702327"/>
                    </div>
                    <div id="form-group">
                        <label>find you facebook ID from here </label>
                        <p><a href="https://findmyfbid.com/" target="_blank" >click here </a></p>
                    </div>

                    <div id="form-group">
                        <label>Contact No:</label>
                        <input class="form-control" name="contactNo" type="tel" placeholder="9957986814"/>
                    </div>
                    <div id="form-group">
                        <label>Designation:</label>
                        <input class="form-control" name="designation" type="text" placeholder="Professor"/>
                    </div>
                    <div id="form-group">
                        <label>Department:</label>
                        <select class="form-control" name="department">
                            <option>Bioscience & Bioengineering</option>
                            <option>Chemical Engineering</option>
                            <option>Chemistry</option>
                            <option>Civil Engineering</option>
                            <option>Computer Science & Engineering</option>
                            <option> Design </option>
                            <option>Electronics & Electrical Engineering</option>
                            <option>Humanities and Social Sciences </option>
                            <option>Mathematics </option>
                            <option>Mechanical Engineering</option>
                            <option> Physics </option>
                        </select>
                    </div>
                    <div id="form-group">
                        <label>Room No.:</label>
                        <input class="form-control" name="room" type="text" pattern="[A-Za-z0-9-]+" placeholder="H-008"/>
                    </div>
                    <div id="form-group">
                        <label>LINKEDIN:</label>
                        <input class="form-control" name="linkedin" type="text" placeholder="https://www.linkedin.com/in/example-67a3547"/>
                    </div>
                    <div id="form-group">
                        <label>Education Qualifications:</label>
                        <textarea class="form-control" name="education"  ></textarea>
                    </div>
                    <div id="form-group">
                        <label>Research Interest:</label>
                        <textarea class="form-control" name="research_interest"></textarea>
                    </div>
                    <div id="form-group">
                        <label>Experience:</label>
                        <textarea class="form-control" name="experience"></textarea>
                    </div>



                </div>

                    <div class="bs-callout bs-callout-danger">

                        <input class="btn btn-primary" type="submit" value="Sign up"/>

                    </div>

        </div>
            </form>
        <!-- resume -->

    </div>

        <div class="col-sm-2"></div>
</div>

</div>
